@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    box-sizing: border-box;
    transition: all .5s ease;
    outline: none;
}
/*для firefox*/
@-moz-document url-prefix() {
    * {
        letter-spacing: -1px;
    }
}

body{
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: 'PT Sans', Arial, sans-serif; 
    font-size: 14px;
    background-color: #fff;
    // используют в оригинале шрифт Myriad Pro
}
.container{
    min-width: 975px;
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

h4{
    font-size: 16px;
    margin: 0;
}

a{
    color: white;
    transition: .3s;
}

a:hover{
    text-decoration: none;
    color: white;
}

/*TOP
===================================================*/
.topBlack{
    height: 50px;
    background-color: black;
    transition: background-color 0.75s ease;
}
.logo{
    position: fixed;
    z-index: 40;
}
.top{
    display: block;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 31;
    transition:background-color 0.75s ease;
    .left{
        padding-left: 50px;
        float: left;
        z-index: 2;
        .online{
            float: left;
            padding-top: 5px;
            height: 50px;
            padding-left: 25px;
            padding-right: 28px;
            color: white;
            background: url(../img/V-HR-01.png) no-repeat 100% 50%;
            span{
                display: block;
            }
        }
        .weather{
            img{
                height: auto;
                display: inline-block;
                vertical-align: middle;
            }
            .city{
                display: inline-block;
                vertical-align: middle;
                span{
                    display: block;
                }
            }
        }
        .money{
            @extend .rain;
            width: 188px;
            padding-left: 11px;
            cursor: pointer;
            span{
                display: inline-block;
                padding-top: 6px;
            }
            img{
                float: left;
                padding-top: 5px;
                padding-left: 13px;
            }
        }

    }
     .right{
         position: absolute;
         right: 0;
         z-index: 2;
         .search{
             position: relative;
             height: 50px;
             padding-left: 25px;
             color: white;
             background: url(../img/V-HR-01.png) no-repeat 100% 50%;
             input{
                 position: absolute;
                 margin-top: 7px;
                 border-radius: 15px;
                 border: 0;
                 width: 31px;
                 height: 36px;
                 z-index: 1;
                 background: url(../img/search.png.png) no-repeat 40% 50%;
                 -webkit-transition: all .5s ease-in-out;
                 -moz-transition: all .5s ease-in-out;
                 transition: all .5s ease-in-out; 
                 right: 0;
                 margin-right: 17px;
             }
             input:focus,
             input:hover{
                 width: 250px;
                 height: 36px;
                 background-color: #ffffff;
                 background: url(../img/searchActive.png) no-repeat 3% 50% #ffffff;
                 opacity: 1!important;
                 margin-right: 15px;
                 color: grey;
                 padding-left: 46px;
             }
         }
         .imgSearch:hover{
             opacity: .2;
         }
        .share{
            margin: 0 auto;
            cursor: pointer;
            margin: 0 auto;
            position: relative;
            height: 50px;
            padding-left: 50px;
            color: white;
            background: url(../img/share.png) no-repeat 40% 50%;
         }
        .search,
        .share{
            float: left;
            vertical-align: middle;
        }
    }
    .rain{
        @extend .online;
        width: 188px;
        padding-right: 10px!important;
        }
}

.list-inline{
        background-color: #edede6;
        border-bottom: 1px solid #e6e6df;
        padding-left: 55px;
        width: 100%;
        padding-right: 38.5rem;
        position: absolute;
        height: 50px;
        top: 100%;
        display: flex;
        justify-content: space-between;
        li{
            float: left;
            height: inherit;
            padding-left: 0;
            flex-grow: 1;
            a{
            line-height: 52px;
            color: #48443e;
            font-size: 16px;
            font-weight: bold;
            display: block;
            padding: 0;
            text-align: center;
            }
            a:hover,
            a:active{
                color: white;
            }    
        }
        .dropdown{
            padding-left: 0;
            position: relative;
            a{
            color: #bfbfb4;
            text-decoration: none;
            padding-left: 20px;
            }
        }    
}

/*
TOP_NEWS=========================================*/
.top-news{
    z-index: 0;
    .carousel.slide{
        position: relative;
    .carousel-indicators{
        z-index: 2;
        position: absolute;
        left: 2%;
        top: 80px;
        margin-left: 0;
        li{
            width: 30px;
            height: 30px;
            margin-bottom: 6px;
            display: block;
            border: 0;
            border-radius: 0;
        }
        .wrapper{
            width: 3px;
            height: inherit;
            background-color: rgba(255, 255, 255, 0.65);
        }
        .active{
            border: 20px solid transparent;
            border-left: 16px solid rgba(255, 255, 255, 0.65);
            background: transparent;
            .wrapper{
                display: none;
            }
            }
        }
    }
}

video{
    width: 100%;
    height: auto;
    margin-top: -40px;
    margin-bottom: -46px;
}
.item:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    background: 0 0;
    background-image: linear-gradient(rgba(0,0,0,.6) 5%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 35%,rgba(0,0,0,.15) 70%,rgba(0,0,0,.85) 100%);

}
.item{
    max-height: 400px;
}


.carousel-caption{
        left: 7%;
        bottom: 0;
        width: 55%;
        margin-bottom: -2%;
    h2{
        font-size: 2.5em;
        font-weight: bold;
        text-align: start;
        text-shadow: 1px 1px 1px #2f2d2d;    
    }
    p{
        text-align: start;
        font-weight: bold;
        span.red{
            color: red;
            margin-right: 5px;
        }
    }
}

/*
Scroll top==========*/
.dock .main,
.stop .main {
    padding-top:100px; }

.dock .menu{
    z-index:40; position:fixed; }

.stop .menu { 
    z-index:40; position:absolute; }
#list.fixed{
    position: fixed;
    z-index: 30;
    width: 100%;
}

.topfixed{
    transition: all .3s;
    margin-top: -50px;
    .right{
        opacity: 1;
        margin-top: 50px;
        z-index: 1000;
        .search input{
            background: url(../img/searchActive.png) no-repeat 40% 50%;
        }
        .share{
            background: url(../img/shareBlack.png) no-repeat 40% 50%;
        }
    }
}
.main{
    margin-top: 60px;
}

/*
DROPDOWN-MENU================================*/
.dropdown-toggle:before,
.dropdown-toggle:after {
  content: "";
  position: absolute;
  display: block;
  right: -5px;
  width: 2px;
  height: 50%;
}

.dropdown-toggle:before {
  top: 0;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.33) 0%, transparent 100%);
}

.dropdown-toggle:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.33) 0%, transparent 100%);
}

.dropdown-menu{
    position: absolute;
    min-width: 100px;
    top: 100%;
    left: 0;
    padding-top: 0;
    margin-top: 0;
    z-index: 20;
    display: none;
    border: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #f7f7eb;
    background-clip: padding-box;
    li{
        float: left;
        width: 100%;
        a{
        display: block;
        text-align: left;
        clear: both;
        color: #bfbfb4;
        transition: .3s;
        line-height: 2.5!important;
        white-space: nowrap;
            
        }
        a:hover,
        a:active{
            background: #bfbfb4;
        }
    }
}
.dropdown.open>a{
    color: white;
}
.ukr:hover{
    background-color: #ffd400; 
}

.pol:hover{
    background-color: #30b3bf; 
}

.vid:hover{
    background-color: #3640b3;  
}

.vypusk:hover{
    background-color: #d91616;  
}

.blog:hover{
    background-color: #cca266;  
}

.sport:hover{
    background-color: #72ca33;  
}

.glam:hover{
    background-color: #b939e4; 
}

.ledi:hover{
    background-color: #f2b6f2; 
}

.cikav:hover{
    background-color: #f26522; 
}

.spec:hover{
    background-color: #f2b600; 
}

.dropdown:hover,
.dropdown:active{
    background-color: #bfbfb4;
}

/*
POPUP===============================================*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 40;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    background: url(../img/popup.png) center no-repeat;
  margin: 5% auto 0;
  border-radius: 2px;
  width: 650px;
    height: 473px;
  position: relative;
  transition: all 5s ease-in-out;
    p{
        padding-left: 20px;
        padding-right: 20px;        
        line-height: 1.2;
        margin-top: 4px;
    }
    h4{
        padding-left: 20px;
        padding-top: 25px;
        padding-right: 20px; 
    }
}
.social{
    color: #c3c3c3;
    padding-left: 30px;
    padding-bottom: 15px;
    i{
        padding-right: 20px;
        font-size: 18px;
        cursor: pointer;
    }
    .fa-vk:hover{
        color: #5c6d8c;
    }
    .fa-facebook:hover{
        color: #5a6aa1;
    }
    .fa-twitter:hover{
        color: #6cade3;
    }
    .fa-odnoklassniki:hover{
        color: #e6793b;
    }
    .fa-google-plus:hover{
        color: #e37563;
    }
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
    opacity: 1;
    &:hover{
        color: #c3c3c3;
        text-shadow: 0 1px 0 #c3c3c3;
    }
}
.popup .content {
    bottom: 0;
    position: absolute;
    background: white;
    .tsn{
        color: #c3c3c3;
    }
}
hr{
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: #c3c3c3;
}

/*
POPUPPHOTOS===========================================*/
.popupPhotos{
    background-color: black;
    padding: 1rem 7rem;
    border-radius: 2px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;
    position: fixed;
    transition: all 2s ease-in-out;
    .content{
        color: white;
        h3{
            letter-spacing: -1px;
        }
    }
}

/*
VIDEO FIXED POPUP===================================*/
.blured{
    filter: blur(10px); 
}
.blackRect{
opacity:0.3;
}
.popupV{
    position: relative;
    width: 435px
}
.popUpVideo {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 40;
}

.popUpVideo:target {
  visibility: visible;
  opacity: 1;
}

/*
MAIN==============================================*/
.wrap{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 70px;
    background-color: #ffff;
    .c-main{
        float: left;
        width: 870px;
        section{
             margin-right: -8px;
            margin-left: -8px;
        }
        li.triangle-border{
            &:after{
            content: "";
              position: absolute;
              bottom: -8px;
              left: 35%;
              margin-left: -15px;
              width: 0px;
              height: 0px;
              margin: 0px auto;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid white;
            }
            &:before{
              content: "";
              position: absolute;
              bottom: -10px;
              left: 35%;
              margin-left: -15px;
              width: 0px;
              height: 0px;
              margin: 0px auto;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #c5c5c5;
            }
            button{
                color: red;
            }
        }
        .nav-tabs{
            margin-bottom: 30px;
            border-bottom: 1px solid #c5c5c5;
            button{
                font-size: 14px;
                color: #2e2e2e;
                padding-left: 0;
                background: transparent;
                border: 0;
                padding-right: 15px;
                outline: none;
            }
        }
    }
}

.sect-main{
    position: relative;
    .new{
        position: relative;
        height: 0;
        padding: 0 0 99.15%;
        overflow: hidden;
        .a-new{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                width: 100%;
                height: auto;
                color: white;
            }
                .icon-link{
                    width: auto;
                    bottom: 36%;
                }
            .play{
                top: 33%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: .7;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
            .rect{
                background-color: black;
                z-index: 101;
            }
            .videoLink{
                transform: scale(0.36);
                right: -4%;
                bottom: 31%;
            }
            .bigLink{
                transform: scale(1);
                top: 20%;
                right: 39%;
            }
        }
    }
}
.post{
    min-height: 95px;
    max-height: 100px;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.post-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .post-i-detail{
        float: left;
        color: #bfbfbf;
        font-weight: bold;
        margin-right: 7px;
        font-size: 12px;
    }
    .svit{
        color: #1296c1;
    }
    .ukraina{
        color: #fed300;
    }
    .glamur{
        color: #ba39e6;
    }
    .groshi{
        color: #1bb367;
    }
    .post-stars{
        font-size: 12px;
        margin-bottom: 0;
        color: #bfbfbf;
        text-align: right;list-style: none;
        padding-left: 0;
        display: block;
        li{
            display: inline-block;
            margin-right: 6px;
        }
    }
}  
.col-new{
   position: relative;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 35px;
    display: block;
    float: left;
}

.row{
    position: relative;
}

/*
FOTO NEWS===========================================*/
.foto{
    background-color: black;
    color: white;
    margin-top: 20px;
    caption{
        padding-bottom: 0;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding-top: 15px;
    }
}

table { 
  border-collapse: collapse;
    margin: 0;
    width: 100%;
    table-layout: fixed;
  }

td{
    border: 1.5rem solid black;
    height: 13em;
    vertical-align: top;
    overflow: hidden;
        &:hover{
        cursor: pointer;
    }
    .centeredImg{
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
    .bottomImg{
        position: absolute;
        bottom: 0;
        &:hover{
            transform: translateY(28%);
        }
    }
}
td{
    position: relative;
    transition: all 1s ease;
}

#fr1{
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
}
#fr3{
        .centeredImg:hover{
             transform: scale(1.3);
        }
}
#fr2{
    background-position: top;
    &:hover {
      background-position: bottom;
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
    }
}
#fr4, #fr8{
    img:hover{
        transform: translateX(-25%);
        transition: all 3s ease;
    }
}

#fr5{
    img{
       transition: all 1s ease;
        height: 13em;
        &:hover{
            height: 100%;
        }
    }
}

#fr6{
    img{
    left: -9961px;
        transition: all 3s ease;
        &:hover{
          transform: translateX(-40%);  
        }
    }
}

#fr7{
    img{
        top: -9850px;
        transition: all 3s ease;
        &:hover{
            transform: translateY(-40%);
        }
    }
}

#fr9{
    img{
        top: -9830px;
        right: -9900px;
        transition: all 3s ease;
        &:hover{
            transform: translate(-10%, -30%);
        }
    }
}

#fr10{
    img{
        top: -9950px;
        transition: all 3s ease;
        &:hover{
            transform: translateY(-30%);
        }
    }
}

.fr-photo-p, .fr-photo-pshort{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: red;
    width: 220px;
    height: 47px;
    z-index: 10;
    p{
    font-weight: bold;
    text-align: start;
    padding: 6px 20px;
    line-height: 1.2;
    display: block;
    }
}
.fr-photo-pshort{
    width: 150px;
    height: 75px;
}

tbody{
    .noLeftBorder{
        border-left: 0;
    }
    .noRightBorder{
        border-right: 0;
    }
}

.icon-link{
    position: absolute;
    z-index: 10;
    right: 0;
    padding-right: 5px;
    padding-top: 5px;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,.5));
}

.bottom{
    bottom: 0;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 0;
}

/*
Banner====================================================*/
.banner{
    text-align: center;
    margin: 20px;
    width: 900px;
    margin-bottom: -55px;
}
iframe,
.iframe img{
    border-radius: 10px;
    border: 0;
    height: 90px;
    width: 728px;
}

/*
ASIDE===============================================*/
.b-main{
    float: left;
}
.aside{
    width: 330px;
    z-index: 29;
    padding: 0 20px;
    top: -255px;
    margin-left: 50px;
    position: absolute;
    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        z-index: -1;
      }
    &:before {
        box-sizing: border-box;
        width: 100%;
        height: 0;
        border-width: 0 20px ceil(20px) 0;
        border-color: #f2f2eb transparent;
        border-style: solid;
      }
    &:after {
        top: 20px;
        bottom: 0;
        width: 100%;
        background-color: #f2f2eb;
      }
    .bolderH{
        font-weight: bold;
    }
}
.asideContainer{
    position: relative;
    padding-bottom: 55px;
    .post-info{
        hr{
            border-color: #dedede;
        }
        .nonehr{
            border-color: transparent;
        }
        .post-i-detail{
            float: none;
        }
    }
    .imgAside{
        max-width: 100%;
        transition: all 0.3s;
        margin-bottom: 10px;
    }
    .imgAside:hover{
        transform: scale(1.1);
    }
    .videoP{
        position: absolute;
        top: 80px;
        left: 10px;
        color: white;
        font-size: 12px;
        opacity: 0.4;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    .fa-play-circle-o{
        font-size: 18px;
        vertical-align: middle;
        margin-right: 10px;
    }
}
.asideContainer-last{
    position: relative;
    padding-bottom: 20px;
    .loadMore{
        text-align: center;
        margin-top: 10px;
        color: #333;
    }
    .fa-download{
        color: #dbdbdb;
        margin-left: 10px;
    }
}
.asidebanner{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
    height: 250px;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 4s easy-in;
    }
    @keyframes banop {
          0% {
              opacity:1;
          }    
        45% {
            opacity:1;
          }    
        55% {
            opacity:0;
        }
        100% {
            opacity:0;
            }
    }
    img.top {
        animation-name: banop;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate;
    }
}

/*
FOOTER==============================================*/
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 20px 35px;
    padding: 0 50px;
}
.tsn-footer{
    display: block;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    margin: 35px auto;
    margin: 35px auto;
}
.end-copy{
    text-align: center;
    display: block;
    margin-bottom: 35px;
    color: #333333;
}
.end-copy:after,
.end-copy:before{
    content: "";
    display: inline-block;
    width: 35px;
    margin: -1px 10px 0;
    border-top: 1px solid #333333;
    vertical-align: middle;
}
/*
Adaptive==============================================*/
@media (max-width: 1399px) and (min-width: 1200px) {
    .wrap{
        padding-left: 40px;
        padding-right: 370px;
    }
    .c-main{
        width: 100%!important;
    }
    .sect-main .new .post{
        min-height: 82px;
        max-height: 89px;
        h4{
            font-size: 14px;
            font-weight: bold;
        }
    }
    .hidden-md-down{
        display: none!important;
        visibility: hidden;
    }
    .list-inline{
        padding-right: 34.8rem;
    }
    .asidebanner{
        width: 260px;
        height: 210px;
    }
    .aside{
        width: 300px;
        margin-left: 30px;
        margin-right: 40px;
    }
    .asideContainer .videoP{
        top: 72px;
    }
}

@media (max-width: 1199px){
    .wrap{
        padding-left: 20px;
        padding-right: 290px;
    }
    .hidden-md-down{
        display: none!important;
        visibility: hidden;
    }
    .asidebanner{
        width: 210px;
        height: 170px;
    }
    .list-inline{
        padding-right: 27.5rem;
    }
    .list-inline li .spec{
        display: none;
    }
    .aside{
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .asideContainer .videoP{
        top: 54px;
    }
    .post{
        min-height: 83px;
    }
    .sect-main .new{
        padding: 0 0 89.15%;
    }
    .hidden-xs-down{
        display: none !important;
        visibility: hidden;
    }
    .sect-main .new .a-new .videoLink{
        transform: scale(0.45);
        right: 0;
        bottom: 27%;
    }
}

@media (max-width: 1199px) and (min-width: 990px){
    .c-main{
        width: 100%!important;
    }
}

@media (max-width: 989px){
    .b-main{
        display: none;
    }
    .wrap{
        padding-left: 50px;
    }
}
